<form method="post" action="{{ path('app_vehicle_delete', {'id': vehicle.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicle.id) }}">
    <button class="btn btn-primary">Supprimer</button>
</form>