@import "_variables.scss";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    nav.navbar {
        #title-nav {
            color: $text !important;
        }
        background-color: $primary;
        ul {
            li {
                a {
                    color: $text !important;
                }
            }
        }
    }
    main {
        #card-vehicle {
            .row {
                a.nav-link {
                    color: $card_link !important;
                }
                p {
                    font-size: 1.2rem;
                    line-height: 1.1rem;
                }
            }
        }

        #form_create_vehicle {
            label {
                font-size: 1.2rem;
            }
        }

        .delete-picture {
                i.fas {
                    font-size: 1.6rem;
                    color: $danger;
                }
        }
    }

    .without-photo {
        max-width: 320px;
        height: auto;
    }
    
}
